
.navbar {
    background-color: #333;
    padding: 0;
    margin: 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0;
}

.navbar ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    font-size: 18px;
}

.navbar ul li a:hover {
    background-color: #575757;
}

.header {
    background-color: #f2f2f2;
    padding: 40px;
}

.header h1 {
    font-size: 32px;
}

.header p {
    font-size: 18px;
}

