
.navbar {
    background-color:rgb(27, 24, 24);
    padding: 0;
    margin: 0;

}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0;
}

.navbar ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    font-size: 18px;
}

.navbar ul li a:hover {
    background-color: #faf6f6;
}

header {
    background-color: #dcd7d7;
    margin: auto;
    padding: 40px;
}

 h1 {
    font-size: 32px;
}

 p {
    font-size: 18px;
}
body{
    padding-left: 90px;
    padding-right: 90px;
    

}
